body{
  background-image: url("bg/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.headerContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.block-function{
  display: flex;
  flex-direction: column;
  background-color: white;
  align-self: center;
  padding: 0px 25px;
  width:68%;
}

.out{
    text-align: center;
    background-color: white;
    margin-top: 50px;
}

.footer{
  position:relative;
  bottom: 0;
  padding: 10px;
}

.footer-text{
  margin-bottom: 0px;

}

.disclaimer{
  text-align: center;
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.block-after-Logo{
  display: flex;
  flex-wrap: wrap;
  align-self: auto;
  margin: 25px 5px;
}

.CurrencyInfo{
  display: flex;
  flex-direction: column;
  width: 68%;
  background-color: white;
  align-self: center;
  margin: 50px 0px;


}
.exchangeRate{
  align-self: auto;
  padding: 25px 25px;
}

#baseCurrency{
  text-align: center;
}

table{
  text-align: center;
}

.selectForm{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.submitButton{
  margin-top: 20px;
}

.converter-body{
  width: 60%;
  align-self: left;
}

.currentRate{
  width: 34%;
  align-self: right;
}

#vr{
  width: 2px;
  height: 20px;
  display: inline-block;
  background-color: #3d3d3d;
  height: auto;
  margin: 0px 20px;
}

.currentRate-info{
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
}

#title{
  margin-bottom: 25px;
  text-align: center;
}

.logo-text{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  text-shadow: 5px;
  color: white;
  font-weight: 1000;
}

@media only screen and (max-width: 800px) {
  #vr{
    visibility: hidden;
    display: none;
  }
  .block-after-Logo{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .converter-body{
    width: 100%;
  }
  .currentRate{
    width: 100%;
  }
  .selectForm{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}
